# Output commands

record(ao,"$(P)$(R)IMPD") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setOutputImpedance($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rIMPD")
  field(DRVH, 10000)
  field(DRVL, 1)
  field(HOPR, 10000)
  field(LOPR, 1)
  field(EGU,  "Ohm")
  field(PREC, 0)
}
record(ai,"$(P)$(R)rIMPD") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getOutputImpedance($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "Ohm")
  field(PREC, 0)
}

record(bo, "$(P)$(R)POL") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setOutputPolarity($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPOL")
  field(ZNAM, "Normal")
  field(ONAM, "Inverted")
}
record(bi, "$(P)$(R)rPOL") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getOutputPolarity($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(ZNAM, "Normal")
  field(ONAM, "Inverted")
}

record(bo, "$(P)$(R)STAT") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setOutputState($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rSTAT")
  field(ZNAM, "Off")
  field(ONAM, "On")
}
record(bi, "$(P)$(R)rSTAT") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getOutputState($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(ZNAM, "Off")
  field(ONAM, "On")
}

# Source commands

## AM
record(bo, "$(P)$(R)AMST") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceAMState($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rAMST")
  field(ZNAM, "Off")
  field(ONAM, "On")
}
record(bi, "$(P)$(R)rAMST") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceAMState($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rFMST")
  field(PINI, "YES")
  field(ZNAM, "Off")
  field(ONAM, "On")
}

record(ao,"$(P)$(R)AMFR") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceAMInternalFrequency($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rAMFR")
  field(DRVH, 50000000)
  field(DRVL, 2)
  field(HOPR, 50000000)
  field(LOPR, 2)
  field(EGU,  "mHz")
  field(PREC, 0)
}
record(ai,"$(P)$(R)rAMFR") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceAMInternalFrequency($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "mHz")
  field(PREC, 0)
}

record(mbbo, "$(P)$(R)AMFU") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceAMInternalFunction($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rAMFU")
  field(ZRST, "Sinusoid")
  field(ONST, "Square")
  field(TWST, "Triangle")
  field(THST, "Ramp")
  field(FRST, "NRamp")
  field(FVST, "PRNoise")
  field(SXST, "USER1")
  field(SVST, "USER2")
  field(EIST, "USER3")
  field(NIST, "USER4")
  field(TEST, "EMemory")
  field(ELST, "EFile")
}
record(mbbi, "$(P)$(R)rAMFU") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceAMInternalFunction($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(ZRST, "Sinusoid")
  field(ONST, "Square")
  field(TWST, "Triangle")
  field(THST, "Ramp")
  field(FRST, "NRamp")
  field(FVST, "PRNoise")
  field(SXST, "USER1")
  field(SVST, "USER2")
  field(EIST, "USER3")
  field(NIST, "USER4")
  field(TEST, "EMemory")
  field(ELST, "EFile")
}

record(stringout, "$(P)$(R)AMFF") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceAMInternalFunctionEFile($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rAMFF")
}
record(stringin, "$(P)$(R)rAMFF") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceAMInternalFunctionEFile($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
}

record(bo, "$(P)$(R)AMSO") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceAMSource($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rAMSO")
  field(ZNAM, "Internal")
  field(ONAM, "External")
}
record(bi, "$(P)$(R)rAMSO") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceAMSource($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(ZNAM, "Internal")
  field(ONAM, "External")
}

record(ao,"$(P)$(R)AMDE") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceAMDepth($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rAMDE")
  field(DRVH, 120)
  field(DRVL, 0.1)
  field(HOPR, 120)
  field(LOPR, 0.1)
  field(EGU,  "%")
  field(PREC, 1)
}
record(ai,"$(P)$(R)rAMDE") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceAMDepth($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "%")
  field(PREC, 1)
}

## Burst
record(bo, "$(P)$(R)BMOD") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceBurstMode($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rBMOD")
  field(ZNAM, "Triggered")
  field(ONAM, "Gated")
}
record(bi, "$(P)$(R)rBMOD") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceBurstMode($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(ZNAM, "Triggered")
  field(ONAM, "Gated")
}

record(ao,"$(P)$(R)BNCY") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceBurstNCycles($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rBNCY")
  field(DRVH, 1000000)
  field(DRVL, 1)
  field(HOPR, 1000000)
  field(LOPR, 1)
  field(EGU,  "")
  field(PREC, 0)
}
record(ai,"$(P)$(R)rBNCY") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceBurstNCycles($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "")
  field(PREC, 0)
}

record(ao,"$(P)$(R)BTDE") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceBurstTdelay($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rBTDE")
  field(DRVH, 1000)
  field(DRVL, 0)
  field(HOPR, 1000)
  field(LOPR, 0)
  field(EGU,  "s")
  field(PREC, 9)
}
record(ai,"$(P)$(R)rBTDE") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceBurstTdelay($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "s")
  field(PREC, 9)
}

record(bo, "$(P)$(R)BSTA") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceBurstState($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rBSTA")
  field(ZNAM, "Off")
  field(ONAM, "On")
}
record(bi, "$(P)$(R)rBSTA") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceBurstState($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(ZNAM, "Off")
  field(ONAM, "On")
}

## Noise
record(mbbo, "$(P)$(R)COMB") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceCombineFeed1 $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rCOMB")
  field(ZRST, "Noise")
  field(ONST, "External")
  field(TWST, "Both")
  field(THST, "Disable")
}
record(mbbi, "$(P)$(R)rCOMB") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceCombineFeed1 $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(ZRST, "Noise")
  field(ONST, "External")
  field(TWST, "Both")
  field(THST, "Disable")
}

## FM
record(ao,"$(P)$(R)FMFR") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceFMInternalFrequency($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rFMFR")
  field(DRVH, 50000000)
  field(DRVL, 2)
  field(HOPR, 50000000)
  field(LOPR, 2)
  field(EGU,  "mHz")
  field(PREC, 0)
}
record(ai,"$(P)$(R)rFMFR") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceFMInternalFrequency($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "mHz")
  field(PREC, 0)
}

record(mbbo, "$(P)$(R)FMFU") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceFMInternalFunction($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rFMFU")
  field(ZRST, "Sinusoid")
  field(ONST, "Square")
  field(TWST, "Triangle")
  field(THST, "Ramp")
  field(FRST, "NRamp")
  field(FVST, "PRNoise")
  field(SXST, "USER1")
  field(SVST, "USER2")
  field(EIST, "USER3")
  field(NIST, "USER4")
  field(TEST, "EMemory")
  field(ELST, "EFile")
}
record(mbbi, "$(P)$(R)rFMFU") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceFMInternalFunction($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(ZRST, "Sinusoid")
  field(ONST, "Square")
  field(TWST, "Triangle")
  field(THST, "Ramp")
  field(FRST, "NRamp")
  field(FVST, "PRNoise")
  field(SXST, "USER1")
  field(SVST, "USER2")
  field(EIST, "USER3")
  field(NIST, "USER4")
  field(TEST, "EMemory")
  field(ELST, "EFile")
}

record(stringout, "$(P)$(R)FMFF") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceFMInternalFunctionEFile($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rFMFF")
}
record(stringin, "$(P)$(R)rFMFF") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceFMInternalFunctionEFile($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
}

record(bo, "$(P)$(R)FMSO") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceFMSource($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rFMSO")
  field(ZNAM, "Internal")
  field(ONAM, "External")
}
record(bi, "$(P)$(R)rFMSO") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceFMSource($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(ZNAM, "Internal")
  field(ONAM, "External")
}

record(bo, "$(P)$(R)FMST") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceFMState($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rAMST")
  field(ZNAM, "Off")
  field(ONAM, "On")
}
record(bi, "$(P)$(R)rFMST") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceFMState($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rFSKST")
  field(PINI, "YES")
  field(ZNAM, "Off")
  field(ONAM, "On")
}

record(ao,"$(P)$(R)FMDE") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceFMDeviation($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rFMDE")
  field(DRVH, 10000000000)
  field(DRVL, 1)
  field(HOPR, 10000000000)
  field(LOPR, 1)
  field(EGU,  "Hz")
  field(PREC, 0)
}
record(ai,"$(P)$(R)rFMDE") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceFMDeviation($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "Hz")
  field(PREC, 0)
}

## Frequency
record(ao,"$(P)$(R)FCEN") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceFrequencyCenter($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rFCEN")
  field(DRVH, 10000000000)
  field(DRVL, 0.000001)
  field(HOPR, 10000000000)
  field(LOPR, 0.000001)
  field(EGU,  "Hz")
  field(PREC, 6)
}
record(ai,"$(P)$(R)rFCEN") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceFrequencyCenter($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "Hz")
  field(PREC, 6)
}

record(mbbo, "$(P)$(R)FMOD") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceFrequencyMode($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rFMOD")
  field(ZRST, "Continuous")
  field(ONST, "Sweep")
}
record(mbbi, "$(P)$(R)rFMOD") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceFrequencyMode($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(ZRST, "Continuous")
  field(ONST, "Sweep")
}

record(ao,"$(P)$(R)FSPA") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceFrequencySpan($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rFSPA")
  field(DRVH, 10000000000)
  field(DRVL, 0.000001)
  field(HOPR, 10000000000)
  field(LOPR, 0.000001)
  field(EGU,  "Hz")
  field(PREC, 6)
}
record(ai,"$(P)$(R)rFSPA") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceFrequencySpan($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "Hz")
  field(PREC, 6)
}

record(ao,"$(P)$(R)FSTR") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceFrequencyStart($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rFSTR")
  field(DRVH, 10000000000)
  field(DRVL, 0.000001)
  field(HOPR, 10000000000)
  field(LOPR, 0.000001)
  field(EGU,  "Hz")
  field(PREC, 6)
}
record(ai,"$(P)$(R)rFSTR") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceFrequencyStart($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "Hz")
  field(PREC, 6)
}

record(ao,"$(P)$(R)FSTO") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceFrequencyStop($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rFSTO")
  field(DRVH, 10000000000)
  field(DRVL, 0.000001)
  field(HOPR, 10000000000)
  field(LOPR, 0.000001)
  field(EGU,  "Hz")
  field(PREC, 6)
}
record(ai,"$(P)$(R)rFSTO") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceFrequencyStop($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "Hz")
  field(PREC, 6)
}

record(ao,"$(P)$(R)FFIX") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceFrequencyFixed($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rFFIX")
  field(DRVH, 10000000000)
  field(DRVL, 0.000001)
  field(HOPR, 10000000000)
  field(LOPR, 0.000001)
  field(EGU,  "Hz")
  field(PREC, 12)
}
record(ai,"$(P)$(R)rFFIX") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceFrequencyFixed($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "Hz")
  field(PREC, 12)
#  fiels(SCAN, "1 second")
#  field(FLNK, "$(P)$(R)FFIX NPP")
}

###########################

# FSK Modulation

record(ao,"$(P)$(R)FSKRA") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceFSKeyInternalRate($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rFSKRA")
  field(DRVH, 10000000000)
  field(DRVL, 0.000001)
  field(HOPR, 10000000000)
  field(LOPR, 0.000001)
  field(EGU,  "Hz")
  field(PREC, 6)
}
record(ai,"$(P)$(R)rFSKRA") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceFSKeyInternalRate($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "Hz")
  field(PREC, 6)
}

record(bo, "$(P)$(R)FSKSO") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceFSKeySource($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rFSKSO")
  field(ZNAM, "Internal")
  field(ONAM, "External")
}
record(bi, "$(P)$(R)rFSKSO") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceFSKeySource($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(ZNAM, "Internal")
  field(ONAM, "External")
}

record(bo, "$(P)$(R)FSKST") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceFSKeyState($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rAMST")
  field(ZNAM, "Off")
  field(ONAM, "On")
}
record(bi, "$(P)$(R)rFSKST") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceFSKeyState($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPMST")
  field(PINI, "YES")
  field(ZNAM, "Off")
  field(ONAM, "On")
}


record(ao,"$(P)$(R)FSKFR") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceFSKeyFrequency($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rFSKFR")
  field(DRVH, 10000000000)
  field(DRVL, 0.000001)
  field(HOPR, 10000000000)
  field(LOPR, 0.000001)
  field(EGU,  "Hz")
  field(PREC, 6)
}
record(ai,"$(P)$(R)rFSKFR") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceFSKeyFrequency($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "Hz")
  field(PREC, 6)
}

# Function

record(ao,"$(P)$(R)FURS") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceFunctionRampSymmetry($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rFURS")
  field(DRVH, 100)
  field(DRVL, 0)
  field(HOPR, 100)
  field(LOPR, 0)
  field(EGU,  "%")
  field(PREC, 1)
}
record(ai,"$(P)$(R)rFURS") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceFunctionRampSymmetry($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "%")
  field(PREC, 1)
}

# Function Shape Predefined
record(mbbo, "$(P)$(R)FUSHP") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceFunctionShape($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rFUSHP")
  field(ZRST, "Sinusoid")
  field(ONST, "Square")
  field(TWST, "Pulse")
  field(THST, "Ramp")
  field(FRST, "PRNoise")
  field(FVST, "DC")
  field(SXST, "Sin(x)/x")
  field(SVST, "Gaussian")
  field(EIST, "Lorentz")
  field(NIST, "Exponential Rise")
  field(TEST, "Exponential Decay")
  field(ELST, "Haversine")
  field(UNSV, "INVALID")
}
record(mbbi, "$(P)$(R)rFUSHP") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceFunctionShape($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rFUSHA")
  field(PINI, "YES")
  field(ZRST, "Sinusoid")
  field(ONST, "Square")
  field(TWST, "Pulse")
  field(THST, "Ramp")
  field(FRST, "PRNoise")
  field(FVST, "DC")
  field(SXST, "Sin(x)/x")
  field(SVST, "Gaussian")
  field(EIST, "Lorentz")
  field(NIST, "Exponential Rise")
  field(TEST, "Exponential Decay")
  field(ELST, "Haversine")
  field(UNSV, "INVALID")
}
# Function Shape Arbitrary
record(mbbo, "$(P)$(R)FUSHA") {
  field(DTYP, "Raw Soft Channel")
  field(OUT,  "$(P)$(R)FUSHP PP")
  field(ZRVL, 12)
  field(ONVL, 13)
  field(TWVL, 14)
  field(THVL, 15)
  field(FRVL, 16)
  field(FVVL, 17)
  field(ZRST, "USER1")
  field(ONST, "USER2")
  field(TWST, "USER3")
  field(THST, "USER4")
  field(FRST, "EMEM")
  field(FVST, "EFile")
  field(UNSV, "INVALID")
}
record(mbbi, "$(P)$(R)rFUSHA") {
  field(DTYP, "Raw Soft Channel")
  field(INP,  "$(P)$(R)rFUSHP")
  field(PINI, "YES")
  field(ZRVL, 12)
  field(ONVL, 13)
  field(TWVL, 14)
  field(THVL, 15)
  field(FRVL, 16)
  field(FVVL, 17)
  field(ZRST, "USER1")
  field(ONST, "USER2")
  field(TWST, "USER3")
  field(THST, "USER4")
  field(FRST, "EMEM")
  field(FVST, "EFile")
  field(UNSV, "INVALID")
}

record(stringout, "$(P)$(R)FUEF") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceFunctionEFile($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rFUEF")
}
record(stringin, "$(P)$(R)rFUEF") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceFunctionEFile($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
}

# Phase settings

record(ao,"$(P)$(R)PHAD") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourcePhaseAdjust($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPHAD")
  field(DRVH, 3.141592654)
  field(DRVL, -3.141592654)
  field(HOPR, 3.141592654)
  field(LOPR, -3.141592654)
  field(EGU,  "RAD")
  field(PREC, 3)
}
record(ai,"$(P)$(R)rPHAD") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourcePhaseAdjust($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "RAD")
  field(PREC, 3)
}

# Phase Modulation

record(ao,"$(P)$(R)PMFR") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourcePMInternalFrequency($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPMFR")
  field(DRVH, 50000)
  field(DRVL, 0.002)
  field(HOPR, 50000)
  field(LOPR, 0.002)
  field(EGU,  "Hz")
  field(PREC, 3)
}
record(ai,"$(P)$(R)rPMFR") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourcePMInternalFrequency($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "Hz")
  field(PREC, 3)
}

record(mbbo, "$(P)$(R)PMFU") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourcePMInternalFunction($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPMFU")
  field(ZRST, "Sinusoid")
  field(ONST, "Square")
  field(TWST, "Triangle")
  field(THST, "Ramp")
  field(FRST, "NRamp")
  field(FVST, "PRNoise")
  field(SXST, "USER1")
  field(SVST, "USER2")
  field(EIST, "USER3")
  field(NIST, "USER4")
  field(TEST, "EMemory")
  field(ELST, "EFile")
}
record(mbbi, "$(P)$(R)rPMFU") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourcePMInternalFunction($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(ZRST, "Sinusoid")
  field(ONST, "Square")
  field(TWST, "Triangle")
  field(THST, "Ramp")
  field(FRST, "NRamp")
  field(FVST, "PRNoise")
  field(SXST, "USER1")
  field(SVST, "USER2")
  field(EIST, "USER3")
  field(NIST, "USER4")
  field(TEST, "EMemory")
  field(ELST, "EFile")
}

record(stringout, "$(P)$(R)PMFF") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourcePMInternalFunctionEFile($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPMFF")
}
record(stringin, "$(P)$(R)rPMFF") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourcePMInternalFunctionEFile($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
}

record(bo, "$(P)$(R)PMSO") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourcePMSource($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPMSO")
  field(ZNAM, "Internal")
  field(ONAM, "External")
}
record(bi, "$(P)$(R)rPMSO") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourcePMSource($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(ZNAM, "Internal")
  field(ONAM, "External")
}

record(bo, "$(P)$(R)PMST") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourcePMState($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rAMST")
  field(ZNAM, "Off")
  field(ONAM, "On")
}
record(bi, "$(P)$(R)rPMST") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourcePMState($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPWMST")
  field(PINI, "YES")
  field(ZNAM, "Off")
  field(ONAM, "On")
}

record(ao,"$(P)$(R)PMDE") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourcePMDeviation($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPMDE")
  field(DRVH, 1)
  field(DRVL, 0)
  field(HOPR, 1)
  field(LOPR, 0)
  field(EGU,  "RAD")
  field(PREC, 5)
}
record(ai,"$(P)$(R)rPMDE") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourcePMDeviation($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "RAD")
  field(PREC, 5)
}

record(ao,"$(P)$(R)PUDC") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourcePulseDCycle($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPUDC")
  field(DRVH, 99.999)
  field(DRVL, 0.001)
  field(HOPR, 99.999)
  field(LOPR, 0.001)
  field(EGU,  "%")
  field(PREC, 3)
}
record(ai,"$(P)$(R)rPUDC") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourcePulseDCycle($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPUWI")
  field(PINI, "YES")
  field(EGU,  "%")
  field(PREC, 3)
}

record(ao,"$(P)$(R)PUDE") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourcePulseDelay($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPUDE")
  field(DRVH, 1000)
  field(DRVL, 0)
  field(HOPR, 1000)
  field(LOPR, 0)
  field(EGU,  "s")
  field(PREC, 9)
}
record(ai,"$(P)$(R)rPUDE") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourcePulseDelay($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "s")
  field(PREC, 9)
}

record(bo, "$(P)$(R)PUHO") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourcePulseHold($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPUHO")
  field(ZNAM, "Width")
  field(ONAM, "Duty")
}
record(bi, "$(P)$(R)rPUHO") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourcePulseHold($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(ZNAM, "Width")
  field(ONAM, "Duty")
}

record(ao,"$(P)$(R)PUPE") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourcePulsePeriod($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPUPE")
  field(DRVH, 1000)
  field(DRVL, 0)
  field(HOPR, 1000)
  field(LOPR, 0)
  field(EGU,  "s")
  field(PREC, 1)
}
record(ai,"$(P)$(R)rPUPE") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourcePulsePeriod($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPUWI")
  field(PINI, "YES")
  field(EGU,  "s")
  field(PREC, 1)
}

record(ao,"$(P)$(R)PUTL") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourcePulseTransitionLeading($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPUTL")
  field(DRVH, 1000)
  field(DRVL, 0)
  field(HOPR, 1000)
  field(LOPR, 0)
  field(EGU,  "s")
  field(PREC, 1)
}
record(ai,"$(P)$(R)rPUTL") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourcePulseTransitionLeading($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "s")
  field(PREC, 1)
}

record(ao,"$(P)$(R)PUTT") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourcePulseTransitionTrailing($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPUTT")
  field(DRVH, 1000)
  field(DRVL, 0)
  field(HOPR, 1000)
  field(LOPR, 0)
  field(EGU,  "s")
  field(PREC, 1)
}
record(ai,"$(P)$(R)rPUTT") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourcePulseTransitionTrailing($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "s")
  field(PREC, 1)
}

record(ao,"$(P)$(R)PUWI") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourcePulseWidth($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPUWI")
  field(DRVH, 1000)
  field(DRVL, 0)
  field(HOPR, 1000)
  field(LOPR, 0)
  field(EGU,  "s")
  field(PREC, 9)
}
record(ai,"$(P)$(R)rPUWI") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourcePulseWidth($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "s")
  field(PREC, 9)
}

# PWM
record(ao,"$(P)$(R)PWMFR") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourcePWMInternalFrequency($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPWMFR")
  field(DRVH, 50000)
  field(DRVL, 0.002)
  field(HOPR, 50000)
  field(LOPR, 0.002)
  field(EGU,  "Hz")
  field(PREC, 3)
}
record(ai,"$(P)$(R)rPWMFR") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourcePWMInternalFrequency($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "Hz")
  field(PREC, 3)
}

record(mbbo, "$(P)$(R)PWMFU") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourcePWMInternalFunction($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPWMFU")
  field(ZRST, "Sinusoid")
  field(ONST, "Square")
  field(TWST, "Triangle")
  field(THST, "Ramp")
  field(FRST, "NRamp")
  field(FVST, "PRNoise")
  field(SXST, "USER1")
  field(SVST, "USER2")
  field(EIST, "USER3")
  field(NIST, "USER4")
  field(TEST, "EMemory")
  field(ELST, "EFile")
}
record(mbbi, "$(P)$(R)rPWMFU") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourcePWMInternalFunction($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(ZRST, "Sinusoid")
  field(ONST, "Square")
  field(TWST, "Triangle")
  field(THST, "Ramp")
  field(FRST, "NRamp")
  field(FVST, "PRNoise")
  field(SXST, "USER1")
  field(SVST, "USER2")
  field(EIST, "USER3")
  field(NIST, "USER4")
  field(TEST, "EMemory")
  field(ELST, "EFile")
}

record(stringout, "$(P)$(R)PWMFF") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourcePWMInternalFunctionEFile($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPWMFF")
}
record(stringin, "$(P)$(R)rPWMFF") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourcePWMInternalFunctionEFile($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
}

record(bo, "$(P)$(R)PWMSO") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourcePWMSource($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPWMSO")
  field(ZNAM, "Internal")
  field(ONAM, "External")
}
record(bi, "$(P)$(R)rPWMSO") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourcePWMSource($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(ZNAM, "Internal")
  field(ONAM, "External")
}

record(bo, "$(P)$(R)PWMST") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourcePWMState($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rAMST")
  field(ZNAM, "Off")
  field(ONAM, "On")
}
record(bi, "$(P)$(R)rPWMST") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourcePWMState($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(ZNAM, "Off")
  field(ONAM, "On")
}

record(ao,"$(P)$(R)PWMDC") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourcePWMDeviationDCycle($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rPWMDC")
  field(DRVH, 100)
  field(DRVL, 0)
  field(HOPR, 100)
  field(LOPR, 0)
  field(EGU,  "%")
  field(PREC, 3)
}
record(ai,"$(P)$(R)rPWMDC") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourcePWMDeviationDCycle($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "%")
  field(PREC, 3)
}

record(ao,"$(P)$(R)SWHT") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceSweepHTime($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rSWHT")
  field(DRVH, 1000)
  field(DRVL, 0)
  field(HOPR, 1000)
  field(LOPR, 0)
  field(EGU,  "s")
  field(PREC, 9)
}
record(ai,"$(P)$(R)rSWHT") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceSweepHTime($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "s")
  field(PREC, 9)
}

record(bo, "$(P)$(R)SWMO") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceSweepMode($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rSWMO")
  field(ZNAM, "Auto")
  field(ONAM, "Manual")
}
record(bi, "$(P)$(R)rSWMO") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceSweepMode($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(ZNAM, "Auto")
  field(ONAM, "Manual")
}

record(ao,"$(P)$(R)SWRT") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceSweepRTime($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rSWRT")
  field(DRVH, 1000)
  field(DRVL, 0)
  field(HOPR, 1000)
  field(LOPR, 0)
  field(EGU,  "s")
  field(PREC, 9)
}
record(ai,"$(P)$(R)rSWRT") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceSweepRTime($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "s")
  field(PREC, 9)
}

record(bo, "$(P)$(R)SWSP") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceSweepSpacing($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rSWSP")
  field(ZNAM, "Linear")
  field(ONAM, "Logarithmic")
}
record(bi, "$(P)$(R)rSWSP") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceSweepSpacing($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(ZNAM, "Linear")
  field(ONAM, "Logarithmic")
}

record(ao,"$(P)$(R)SWTI") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceSweepTime($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rSWTI")
  field(DRVH, 300)
  field(DRVL, 0)
  field(HOPR, 300)
  field(LOPR, 0)
  field(EGU,  "s")
  field(PREC, 3)
}
record(ai,"$(P)$(R)rSWTI") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceSweepTime($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "s")
  field(PREC, 3)
}

record(ao,"$(P)$(R)VOLH") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceVoltageLimitHigh($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rVOLH")
  field(DRVH, 10)
  field(DRVL, -10)
  field(HOPR, 10)
  field(LOPR, -10)
  field(EGU,  "V")
  field(PREC, 3)
}
record(ai,"$(P)$(R)rVOLH") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceVoltageLimitHigh($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "V")
  field(PREC, 3)
}

record(ao,"$(P)$(R)VOLL") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceVoltageLimitLow($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rVOLL")
  field(DRVH, 10)
  field(DRVL, -10)
  field(HOPR, 10)
  field(LOPR, -10)
  field(EGU,  "V")
  field(PREC, 3)
}
record(ai,"$(P)$(R)rVOLL") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceVoltageLimitLow($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "V")
  field(PREC, 3)
}

record(mbbo, "$(P)$(R)VOUN") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceVoltageUnit($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rVOUN")
  field(ZRST, "Vp-p")
  field(ONST, "Vrms")
  field(TWST, "DBM")
}
record(mbbi, "$(P)$(R)rVOUN") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceVoltageUnit($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(ZRST, "Vp-p")
  field(ONST, "Vrms")
  field(TWST, "DBM")
}

record(ao,"$(P)$(R)VOHI") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceVoltageHigh($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rVOHI")
  field(DRVH, 10)
  field(DRVL, -10)
  field(HOPR, 10)
  field(LOPR, -10)
  field(EGU,  "V")
  field(PREC, 5)
}
record(ai,"$(P)$(R)rVOHI") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceVoltageHigh($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rVOLO")
  field(PINI, "YES")
  field(EGU,  "V")
  field(PREC, 5)
}

record(ao,"$(P)$(R)VOLO") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceVoltageLow($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rVOHI")
  field(DRVH, 10)
  field(DRVL, -10)
  field(HOPR, 10)
  field(LOPR, -10)
  field(EGU,  "V")
  field(PREC, 5)
}
record(ai,"$(P)$(R)rVOLO") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceVoltageLow($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rVOOF")
  field(PINI, "YES")
  field(EGU,  "V")
  field(PREC, 5)
}

record(ao,"$(P)$(R)VOOF") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceVoltageOffset($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rVOHI")
  field(DRVH, 10)
  field(DRVL, -10)
  field(HOPR, 10)
  field(LOPR, -10)
  field(EGU,  "V")
  field(PREC, 5)
}
record(ai,"$(P)$(R)rVOOF") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceVoltageOffset($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rVOAM")
  field(PINI, "YES")
  field(EGU,  "V")
  field(PREC, 5)
}

record(ao,"$(P)$(R)VOAM") {
  field(DTYP, "stream")
  field(OUT,  "@afg3000.proto setSourceVoltageAmplitude($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(FLNK, "$(P)$(R)rVOHI")
  field(DRVH, 10)
  field(DRVL, -10)
  field(HOPR, 10)
  field(LOPR, -10)
  field(EGU,  "V")
  field(PREC, 5)
}
record(ai,"$(P)$(R)rVOAM") {
  field(DTYP, "stream")
  field(INP,  "@afg3000.proto getSourceVoltageAmplitude($(CHANNEL)) $(ASYN_PORT) $(ASYN_ADDR)")
  field(PINI, "YES")
  field(EGU,  "V")
  field(PREC, 5)
}
